<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>realize @</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div id="app">
      <el-card>
        <el-input
          type="textarea"
          placeholder="请输入内容"
          v-model="content1"
          autosize
          ref="textarea1"
          @mouseup.native="handleTextarea1Mouseup"
        ></el-input>
        <el-row type="flex" justify="end" style="margin-top: 10px">
          <el-button type="primary" size="small" @click="handleTextarea1(1)">选中😃😄😁</el-button>
          <el-button type="primary" size="small" @click="handleTextarea1(2)">光标在😃😄😁后</el-button>
          <el-button type="primary" size="small" @click="handleTextarea1(3)">还原选区</el-button>
          <el-button type="primary" size="small" @click="handleTextarea1(4)">替换/插入😂😂😂</el-button>
          <el-button type="primary" size="small" @click="handleTextarea1(5)">指定位置插入😂😂😂</el-button>
        </el-row>
      </el-card>

      <el-card>
        <div
          class="rich-input"
          ref="textarea2"
          contenteditable="true"
          placeholder="请输入内容"
          v-html="content2"
          @mouseup="handleTextarea2Mouseup"
        ></div>
        <el-row type="flex" justify="end" style="margin-top: 10px">
          <el-button type="primary" size="small" @click="handleTextarea2(1)">选中单个节点</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(2)">选中😃😄😁</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(3)">选中[4-17]范围文本</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(4)">光标在😄😁S后</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(5)">还原选区</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(6)">替换/插入😂😂😂</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(7)">标记</el-button>
          <el-button type="primary" size="small" @click="handleTextarea2(8)">位置</el-button>
        </el-row>
      </el-card>

      <el-card>
        <div
          class="chat-input"
          ref="chatInput"
          contenteditable="true"
          placeholder="请输入内容"
          @input="inputChatContent"
          @blur="chatContentBlur"
          @mouseup="chatContentMouseup"
        ></div>
      </el-card>

      <ul class="popper" v-show="isShowUserList" ref="popper" :style="popperStyle" v-click-out-hide>
        <li v-for="(item, index) in userList" :key="index" @click="selectUser(item)">
          <el-row>{{item.name}}</el-row>
        </li>
      </ul>

      <div id="highlight"></div>
    </div>

    <!-- 引入组件库 -->
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
