ul,
li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.header h2 {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
}

.content {
  margin-right: 10px;
}

.row {
  display: flex;
  flex: 1 0 0;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.col {
  margin-right: 10px;
}

.row .col:last-child {
  margin-right: 0;
}

.col .item {
  background-color: #99a9bf;
  background-repeat: no-repeat;
  /* background-image: url('./images/提issue.png'); */
  overflow: hidden;
}

.aside {
  width: 240px;
}

.img-item {
  display: flex;
  align-items: center;
}

.img-item img {
  width: 30px;
  height: 30px;
}
